<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907140188768-ju74tb4qqfn0f6s3kgoem5cra838arav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907140188768-ju74tb4qqfn0f6s3kgoem5cra838arav</string>
	<key>API_KEY</key>
	<string>AIzaSyDIYNtXjAOEv7xG6G7e6vpZdq9DsdOHAGE</string>
	<key>GCM_SENDER_ID</key>
	<string>907140188768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raitingkz</string>
	<key>PROJECT_ID</key>
	<string>raitingkz-9c685</string>
	<key>STORAGE_BUCKET</key>
	<string>raitingkz-9c685.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907140188768:ios:5943f43c2bd67b10695105</string>
</dict>
</plist>